<!DOCTYPE html>
<html manifest="manifest.appcache">
  <head>
    <title>Hello, WebVR! - A-Frame</title>
    <meta name="description" content="Hello, WebVR! - A-Frame">
    <!--
    <script src="aframe.min.js"></script>
    <script src="https://aframe.io/releases/0.7.0/aframe.min.js"></script>
    -->
    <script src="aframe.min.js"></script>
    <script src="aframe-animation-component.min.js"></script>
  </head>
  <body>
    Loading Javascript
    <script src="client.js"></script>
  </body>
</html>